@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  margin-left: 10px;
  padding: 30px;
  max-width: 600px;
  /* background-color: #000; */
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p {
  font-family: 'Lato', sans-serif;  
}

label {
  font-family: 'Lato';
  margin: 0;
  margin-right: 10px;
}

input {
  padding: 0 5px;
  border: none;
  border-bottom: 0.5px #333 solid;
  margin: 7px 0;
}

input:focus {
  outline: none;
}

button {
  margin: 20px 0;
  background-color: #047aed;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #047aed;
  font-family: 'Lato', sans-serif;
}