{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter new password</title>
  <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>

  <h3>Enter new password</h3>

  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

  <form action="" method="post">
    {% csrf_token %}
    <p><label for="new_password1" style="margin-right:42px;">New password:</label>
    {{form.new_password1}}</p>
    <p><label for="new_password2" style="margin-right:20px;">Confirm password:</label>
    {{form.new_password2}}</p>
    <button>Change my password</button>
  </form>

</body>
</html>


