{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset</title>
  <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>

  <h3>Password reset</h3>

  <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

  <form action="" method="post">
    {% csrf_token %}
    <p>{{form}}</p>
    <button>Reset my password</button>
  </form>

</body>
</html>


