{% extends 'igclone/main.html' %}
{% load static %}
{% block title %}Followers{% endblock title %}
{% block content %}

  <!-- Navbar -->
  <div class="navbar">
    <div class="container flex">
      <!-- Instagram Logo -->
      <a href="{% url 'home' %}"><div class="instagram_logo">Instagram</div></a>
      <!-- Home, User Page, and Logout links -->
      <nav>
        <ul>
          <li><a href="{% url 'home' %}"><i class="fas fa-home fa-2x"></i></a></li>
          <li><a href="{% url 'user_page' request.user.id %}">
          <img class="user_icon" src="{{request.user.instagramuser.profile_pic.url}}" alt=""></a></li>
          <li><a href="{% url 'login_register:logout' %}"><i class="fas fa-sign-out-alt fa-2x "></i></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="following_wrapper">
    <div class="container flex">
      <section class="flex">
        <form class="following_form" action="" method="GET">
          {{follower_filter.form}}
          <input type="submit" class="btn search_btn" value="Search">
        </form>
      </section>
      <section class="wrapper_user flex">
        {% for follower in list %}
          <div class="phf_wrapper flex">

            <div class="flex">
             <a href="{% url 'follow_user' follower.id %}"><img class="fu_photo" src="{{follower.instagramuser.profile_pic.url}}" alt=""></a>
              <div class="name_wrapper">
                <p>{{follower.first_name}}</p>
                <p>{{follower.username}}</p>
              </div>
            </div>
            
          </div>
        {% endfor %}
      </section>
    </div>
  </div>

{% endblock content %}